<!doctype html>
{% extends 'base.html' %}

{% block meta %}
<head>
  <title>LOGIN</title>
</head>
{% endblock meta %}

{% block content %}

{% load static %}
<html lang="en" class="background-radial-gradient">

<section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: rgb(214, 154, 130);
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          If you have succesfully registered, <br />
          <span style="color: hsl(44, 81%, 75%)">please log in to continue</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Sehat-terus
          sehat-sehat-sehat
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <h3 id="greetings">Hi!</h3>
            <span class="mb-0 text-muted" style="text-align: center;">
              {% if msg %}
                  {{ msg | safe }}
              {% else %}
                  
              {% endif %}
            </span>
            <form  method="post">
              {% csrf_token %}
              <div class="form-group first">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username">
              </div>
              <div class="form-group first">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
              </div>
  
            <input type="submit" value="Log In" class="btn btn-pill text-white btn-block btn-primary">
          </form>
          {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}  

        Belum mempunyai akun? <a href="{% url 'authentication:register' %}">Buat Akun</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</html>
{% endblock content %}