
{% extends 'base.html' %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}  

<head>
  
</head>

<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <style>
      .background-radial-gradient {
        background-color: rgb(214, 154, 130);
      }
  
      .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
      }
    </style>
  
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            Register Yourself <br />
            <span style="color: hsl(44, 81%, 75%)">as Nakes and/or Lurah!</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Sehat-terus
            sehat-sehat-sehat
          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <h3 id="greetings">Hi!</h3>
              <span class="mb-0 text-muted" style="text-align: center;">
                {% if msg %}
                    {{ msg | safe }}
                {% else %}
                    
                {% endif %}
              </span>
                <form  method="post" id="signup">
                    {% csrf_token %}
                  <div class="form-group first">
                    <label for="username">Username</label>
                      {{ form.username }}
                  </div>
                  <div class="form-group first">
                    <label for="email">Email</label>
                      {{ form.email}}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                      {{ form.password1 }}
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Confirm Password</label>
                      {{ form.password2 }}
                  </div>
                  <p>Choose Your Role</p>
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Lurah</span>
                        {{ form.is_lurah }}
                      <div class="control__indicator"></div>
                    </label>
                  </div>
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Nakes</span>
                        {{ form.is_nakes }}
                      <div class="control__indicator"></div>
                    </label>
                  </div>
                    <span class="text-error">{{ form.errors }}</span>
                  <input type="submit" id="registerAkun" value="Register" class="btn btn-pill text-white btn-block btn-primary">
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
{% endblock content %}
