{% extends "base.html" %}



{% block content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            // Prepare the preview for profile picture
            document.getElementById("profpic").addEventListener("change", function(){
                var reader = new FileReader();
                reader.onload = function(){
                    var output = document.getElementById('profpicPreview');
                    output.src = reader.result;
                };
                reader.readAsDataURL(event.target.files[0]);
            });
        });
        $.ajax({
            url: 'https://dev.farizdotid.com/api/daerahindonesia/provinsi',
            type: 'GET',
            dataType: 'json',
            success: function(data){
                var provinsi = data.provinsi;
                var provinsiSelect = document.getElementById('id_provinsi');
                for (var i = 0; i < provinsi.length; i++) {
                    var option = document.createElement('option');
                    option.value = provinsi[i].id;
                    option.text = provinsi[i].nama;
                    provinsiSelect.appendChild(option);
                }
            }
        });
        function getCity(){
            var provinsi = document.getElementById('id_provinsi').value;
            $.ajax({
                url: 'https://dev.farizdotid.com/api/daerahindonesia/kota?id_provinsi=' + provinsi,
                type: 'GET',
                dataType: 'json',
                success: function(data){
                    var kota = data.kota_kabupaten;
                    var kotaSelect = document.getElementById('id_kota');
                    kotaSelect.innerHTML = '';
                    for (var i = 0; i < kota.length; i++) {
                        var option = document.createElement('option');
                        option.value = kota[i].id;
                        option.text = kota[i].nama;
                        kotaSelect.appendChild(option);
                    }
                }
            });
        }
        function getDistrict(){
            var kota = document.getElementById('id_kota').value;
            $.ajax({
                url: 'https://dev.farizdotid.com/api/daerahindonesia/kecamatan?id_kota=' + kota,
                type: 'GET',
                dataType: 'json',
                success: function(data){
                    var kecamatan = data.kecamatan;
                    var kecamatanSelect = document.getElementById('id_kecamatan');
                    kecamatanSelect.innerHTML = '';
                    for (var i = 0; i < kecamatan.length; i++) {
                        var option = document.createElement('option');
                        option.value = kecamatan[i].id;
                        option.text = kecamatan[i].nama;
                        kecamatanSelect.appendChild(option);
                    }
                }
            });
        }

    </script>
</head>

<!-- Section: Design Block -->
<body style="background-color: rgb(241, 240, 219);">

<section class="text-center text-lg-start">
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>
  
    <!-- Jumbotron -->
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
                <div class="d-flex justify-content-center mb-3">
                    <h4 class="text-center">Profile Settings</h4>
                </div>
                <form action="" method="POST" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mt-3 d-flex justify-content-center">
                        <div class="card-block">
                            <div class="picture-container">
                                <div class="picture">
                                    <img src="{{user.profile.image.url}}" width="100" height="100" class="rounded-circle" id="profpicPreview"> 
                                    <input type="file" id="profpic" name="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 d-flex justify-content-center">
                        <div class="col-md-5">
                            <label class="labels">First Name</label>
                            <input type="text" value="{{user.profile.first_name}}" name= "first_name" class="form-control" placeholder="First Name" maxLength ="30" id="id_first_name" required>
                        </div>
                        <div class="col-md-5">
                            <label class="labels">Last Name</label>
                            <input type="text" value="{{user.profile.last_name}}" name= "last_name" class="form-control" placeholder="Last Name" maxLength ="30" id="id_last_name" required>
                        </div>
                    </div>
                    <div class="row mt-3 d-flex justify-content-center">
                        <div class="col-md-5">
                            <label class="labels">Username</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">@</div>
                                </div>
                                <input type="text" value="{{request.user.username}}" name= "username" class="form-control" placeholder="Username" maxLength ="30" id="id_username" required>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label class="labels">Email</label>
                            <input type="text" name="email" value="{{request.user.email}}" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="row mt-3 d-flex justify-content-center">
                        <div class="col-md-5">
                            <label class="labels">Gender</label>
                            <select name="gender" value="" id="id_gender" class="form-control" required>
                                <option disable hidden selected>--Choose Gender--</option>
                                <option>Laki-laki</option>
                                <option>Perempuan</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <label class="labels">Birthdate</label>
                            <input type="date" value="{{user.profile.date_of_birth}}" name= "date_of_birth" class="form-control" placeholder="Date Of Birth" id="id_date_of_birth" required>
                        </div>
                    </div>
                    <div class="row mt-3 d-flex justify-content-center">
                        <div class="col-md-5">
                            <label class="labels">No.</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">+62</div>
                                </div>
                                <input type="tel" value="{{user.profile.number_phone}}" name= "number_phone" class="form-control" placeholder="812-3456-789" maxLength ="13" id="id_number_phone" required>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label class="labels">Province (pick this first!)</label>
                            <select name="province" data-provid = "1" id="id_provinsi" class="form-control" onchange="getCity()" required>
                                <option disable hidden selected>--Choose Province--</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3 d-flex justify-content-center">
                        <div class="col-md-5">
                            <label class="labels">City/District</label>
                            <select name="city" value="{{user.profile.city}}" id="id_kota" class="form-control" onchange="getDistrict()" required>
                                <option disable hidden selected>--Choose City/District--</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <label class="labels">Sub District</label>
                            <select name="district" value="{{user.profile.district}}" id="id_kecamatan" class="form-control" required>
                                <option disable hidden selected>--Choose Sub-District--</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3 d-flex justify-content-center">
                        <div class="col-md-10">
                            <label class="labels">Bio</label>
                            <textarea class="form-control" name="bio" type="text" placeholder="Bio" required>{{user.profile.bio}}</textarea>
                        </div>
                    </div>
                    <div class="mt-5 text-center buttons">
                        <button class="btn px-4" type="submit" value="Update">Save Profile</button>
                    </div>
                </form>
                <div class="card-block">
                    <div class="mt-4 mb-5 text-center buttons">
                        <form method="get" action="/authentication/profil/">
                            <button class="btn px-4" type="submit" value="Cancel">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="" class="w-100 rounded-4 shadow-4"
            alt="" />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
</body>
  <!-- Section: Design Block -->

  {% endblock %}

