{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Sehat Terus | Blog</title>

{% endblock meta %}


{% block content %}


<main>
    <div class="container-fluid px-0 mb-5 text-center">
        <h1 class="mt-5 mb-3">BLOG</h1>
        <h5 style="color: black;">Mau baca blog apa hari ini?</h5>
        <center class="my-5">
        <div class="cardblog justify-content-center"></div>
        </center>
        <button id="kembali" onclick="window.location.href='/faq-page'" class="btn btn-primary">Back</button>
    </div>
</main>

{% endblock content %}
{% block script %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}"/>
<script src="{% static 'script/blog.js' %}"></script>
{% endblock %}


