{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Sehat Terus | Forms Blog</title>

{% endblock meta %}

{% block content %}

<main>
    <h3 class="mt-5 mb-2">Hi, {{user}}!</h3>
    <h6 class="my-3">Mau buat blog baru apa hari ini?</h6>
    <form method="POST">
        {% csrf_token %}
        <div>
            <p>Title name:<br>
            {{blog_form.title}}</p>
        </div>
        <div>
            <p>Content:<br>
            {{blog_form.content}}</p>
        </div>
    </div>
        <button id="add-blog" class="btn btn-primary btn-lg">Share</button>
    </form>
</main>

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'script/forms.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
{% endblock script %}

{% endblock content %}