form{
    text-align: center;
    margin: 5% auto;
    display: block;
    width:500px;
}
textarea#id_content {
    border-radius:10px;
  }

input#id_title{
    border-radius:10px;
}
h3{
    text-align: center;
}
h6{
    text-align: center;
    color: rgb(107 114 128)!important;  
}
p{
    color: rgb(107 114 128);
}