{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Sehat Terus | Nakes</title>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
<script>
  tailwind.config = {
    important: true,
  };
</script>

{% endblock meta %}

{% block content %}


  <main  style="background-color: #EFFBF9;">

    {% if user.is_authenticated %}
    <div class="container-fluid px-0 text-center">
      <div class="pt-5" style="text-align: center">
        <h1 style="color: black">DAFTAR PASIEN</h1>
        <h3 style="color:#17a2b8">Covid-19</h3>
      </div>
      <br/>

      <div class="flex-parent jc-center">
        <div class="flex gap-2 lg:gap-5">
        </div>
      </div>


    
 
      <!--
        <div>
            {% for data in data_pasien %}
            <div id='{{data.pk}}-card'
            class="task-container mt-5">
            <div style="display: flex; flex-direction: column; gap: 8px; flex-grow: 1">
              <div class="task-title">
                  <div class="flex gap-4">
                    <div
                    id={{data.pk}}
                    class="cursor-pointer remove-todo {{data.pk}}"
                    >
                    <button><a class="inline-flex space-x-2 items-center justify-end px-6 py-3 rounded-xl" style="background-color:red;">Hapus</a></button>
                    </div>
                  </div>
                <div class="text-2xl font-bold mt-4" >{{data.nama}}</div>
                  </a>
                  <div class="task-checkbox-container">
                  </div>
              </div>
              <div class="task-description">
              <hr />
              <p>Umur: {{data.umur}}</p>
              <p>Jenis Kelamin: {{data.gender}}</p>
              <p>Alamat: {{data.alamat}}</p>
              <p>Status Gejala: {{data.gejala}}</p>
            </div>
          </div>
            {% endfor %}
        </div>
    
        -->

        <div class="container-fluid justify-content-center w-75 mt-5">
          <div class="row row-cols-1 row-cols-md-2 g-4" id="todo"></div>
        </div>

    </div>
    {% else %}
    <div></div>
    {% endif %}

  </main>
  <script>

    function loadData() {
      const card = (data) => 

          `{% csrf_token %}`+
          `<div class="col px-3" id="${data.pk}-card">` +
            `<div class="card" id="card" style="margin-bottom: 20px;">` +
              `{% if data.fields.is_covid == true %}` +
                `<div class="card-header align-middle mb-auto mt-auto">` +
                      `<div class="d-flex align-middle pb-2 pt-2">` +
                        `<div class="mr-auto p-0 mb-auto mt-auto"><span class="badge badge-pill badge-warning" id="mark-${data.pk}">Positif</span></div>` +
                      `</div>` +
                `</div>` +
              `{% else %}` +
                `<div class="card-header align-middle mb-auto mt-auto">` +
                      `<div class="d-flex align-middle pb-2 pt-2">` +
                        `<div class="mr-auto p-0 mb-auto mt-auto"><span class="badge badge-pill badge-success" id="mark">Negatif</span></div>` +
                      `</div>` +
                `</div>` +
              `{% endif %}`+
              `<div class="card-body container-fluid p-4 pr-2 pl-4 justify-content-center" id="card-body">` +
                ` <div class="row" id="desc">` +
                    `<h3>${data.fields.nama}</h3>` +
                  `</div>` +
                  `<div class="row">` +
                    ` <div class="col" id="desc">` +
                        `<p>Umur: ${data.fields.umur}</p>` +
                      `</div>` +
                      `<div class="col" id="desc">` +
                        `<p>Jenis Kelamin: ${data.fields.gender}</p>` +
                      `</div>` +
                      `<div class="col" id="desc">` +
                        `<p>Gejala: ${data.fields.gejala}</p>` +
                      `</div>` +
                  `</div>` +
            
                  `<div class="row">` +
                    ` <div class="col" id="desc">` +
                        `<p>Alamat: ${data.fields.alamat}</p>` +
                      `</div>` +
                  `</div>` +
                  `<div class="mt-3 align-items-end">` +
                    `<a class="update-task-ajax btn btn-primary" id="${data.pk}">Update Pasien</a>` +
                  `</div>` +
      
              `</div>` +
            `</div>` ;
      const data_data = JSON.parse("{{data_pasien|escapejs}}");
      // document.getElementById("tesanjay").innerHTML = JSON.stringify(data_data);

      for (var data of data_data) {
          var model = JSON.stringify(data.model).replace(/\"/g, "");
          var pk = JSON.stringify(data.pk).replace(/\"/g, "");
          var user = JSON.stringify(data.fields.user).replace(/\"/g, "");
          var nama = JSON.stringify(data.fields.nama).replace(/\"/g, "");
          var umur = JSON.stringify(data.fields.umur).replace(/\"/g, "");
          var gender = JSON.stringify(data.fields.gender).replace(/\"/g, "");
          var gejala = JSON.stringify(data.fields.gejala).replace(/\"/g, "");
          var alamat = JSON.stringify(data.fields.alamat).replace(/\"/g, "");
          var is_covid = JSON.stringify(data.fields.is_covid).replace(/\"/g, "");
          var data_card = {model: model, pk: pk, fields:{user: user,nama: nama,umur: umur, gender: gender, gejala: gejala, alamat: alamat, is_covid: is_covid}};
          document.getElementById("todo").innerHTML = card(data_card)
      }            
    }
  

      
      
    
    

    $('#todo').ready ( function () {
      $('#todo').on('click', '.update-task-ajax', function(e) {
        e.preventDefault()
        const updateTaskURL = `update/${this.id}`; 
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        $.ajax({
          type: 'UPDATE',
          url: updateTaskURL,
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          },
          success: function(data) {

            if (data[0].fields.is_covid) {
              $(`#mark-${data[0].pk}`).addClass('badge-warning').text('Positif');
              $(`#mark-${data[0].pk}`).removeClass('badge-success');
            } else {
              $(`#mark-${data[0].pk}`).addClass('badge-success').text('Negatif');
              $(`#mark-${data[0].pk}`).removeClass('badge-warning');
            }
          }

        })
        


      });
    });
    loadData()

    
  </script>
  <style>
    .card-header {
      background-color: #fdfdfc;
      padding-top: 2px;
      padding-bottom: 2px;
      vertical-align: middle;
      align-content: center;
      align-items: middle
    }
    .card {
      border-color: #fdfdfc;
    }
    .card:hover {
      transform: scale(1.02);
      box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }
    p {
      margin-top: 10px;
      font-size: 16px;
      color: #202121;
      margin-bottom: 10px;
    }
    .btn {
      font-size: 14px;
    }
    .badge-success {
      background-color: #dbeddb ;
      color: #1d3829;
      font-size: 16px;
      font-weight: 700;
    }
    .badge-warning {
      background-color: #ffe2dd;
      color: #5d1615;
      font-size: 16px;
    }

  button.margin-right {
    margin-right: 20px;
  }
  #button{
    border-radius: 40px;
    border-color: black;
    border-width: 1px;
    color: rgba(0, 0, 0, 0.55) !important; 
    background-color: white;
  }
  #button:hover {
    background-color: #17a2b8;
    color: white !important; 
    border-color: #17a2b8;
  }
  </style>

{% endblock content %}
<!-- <div id='${data.pk}-card'
class="task-container mt-5">
<div style="display: flex; flex-direction: column; gap: 8px; flex-grow: 1">
  <div class="task-title">
      <div class="flex gap-4">
        <div
        id=${data.pk}
        class="cursor-pointer remove-todo ${data.pk}"
        >
        <button><a class="inline-flex space-x-2 items-center justify-end px-6 py-3 rounded-xl" style="background-color:green;">Ubah Status</a></button>
        </div>
      </div>
    <div class="text-2xl font-bold mt-4" >${data.fields.nama}</div>
      </a>
      <div class="task-checkbox-container">
      </div>
  </div>
  <div class="task-description">
  <hr />
  <p>Umur: ${data.fields.umur}</p>
  <p>Jenis Kelamin: ${data.fields.gender}</p>
  <p>Alamat: ${data.fields.alamat}</p>
  <p>Status Gejala: ${data.fields.gejala}</p>
</div>
</div>
  `; -->