{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Sehat Terus | Nakes</title>
{% endblock meta %}

{% block content %}



<style>
body {
	background: #f1fbff;
}
.section-padding {
	padding: 100px 0;
}
.carousel-item {
	height: 500px;
	min-height: 500px;
}
.carousel-caption {
	bottom: 220px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

.portfolio .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.services .card-body i {
	font-size: 50px;
}
.team .card-body i {
	font-size: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		bottom: 370px;
	}
	.carousel-caption p {
		width: 100%;
	}
	.card {
		margin-bottom: 30px;
	}
	.img-area img {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.carousel-caption {
		bottom: 125px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}
	.about-text {
		padding-top: 50px;
	}
	.card {
		margin-bottom: 30px;
	}
}
</style>
<main>
	<div class="carousel slide mb-5" data-bs-ride="carousel" id="carouselExampleIndicators">
	  <div class="carousel-indicators">
		  <button aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators" type="button"></button>
	  </div>
	  <div class="carousel-inner">
		  <div class="carousel-item active">
			  <img alt="..." class="d-block w-100" src="../../static/Biru Hitam Terbaru Fitness Dan Gym Banner Landscape (4).png">
			  <div class="carousel-caption">
				  <h5>Selamat Datang, Lurah <b>{{user.get_username}}</b></h5>
				  <p>Semoga harimu menyenangkan ^_^</p>
			  </div>
		  </div>
		  <div class="carousel-item">
			  <img alt="..." class="d-block w-100" src="../../static/Biru Hitam Terbaru Fitness Dan Gym Banner Landscape (2).png">
			  <div class="carousel-caption">
				  <h5>Ingin Melihat Pasien?</h5>
				  <p>Tentu saja bisa dong..</p>
				  <p><a class="btn btn-primary mt-3" href="{% url 'nakes_page:show_nakes_page' %}">Klik Di Sini</a></p>
			  </div>
		  </div>
		  <div class="carousel-item">
			  <img alt="..." class="d-block w-100" src="../../static/Biru Hitam Terbaru Fitness Dan Gym Banner Landscape (1).png">
			  <div class="carousel-caption">
				  <h5>Mau tahu berita terbaru tentang COVID?</h5>
				  <p>Tentu bisa juga dong..</p>
				  <p><a class="btn btn-primary mt-3" href="https://covid19.go.id/id/p/berita">Klik Di Sini</a></p>
			  </div>
		  </div>
	  </div><button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span class="visually-hidden">Previous</span></button> <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-next-icon"></span> <span class="visually-hidden">Next</span></button>
  </div>
  
  </main>

{% endblock content %}
