{% extends 'base.html' %}  {% block meta %}

{% endblock meta %} {% block content %}

  <head>
    <title>Nakes Page | Tambah Pasien</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
 
   

    <script>
      tailwind.config = {
        important: true,
      };
    </script>
  </head>
  <script>
    $(document).ready(function () {
      const card = (data) => `
      <div id='${data.pk}-card'
        class="task-container mt-5">
        <div style="display: flex; flex-direction: column; gap: 8px; flex-grow: 1">
          <div class="task-title">
              <div class="flex gap-4">
                <div
                id=${data.pk}
                class="cursor-pointer remove-todo ${data.pk}"
                >
                <button><a class="inline-flex space-x-2 items-center justify-end px-6 py-3 rounded-xl" style="background-color:green;">Ubah Status</a></button>
                </div>
              </div>
            <div class="text-2xl font-bold mt-4" >${data.fields.nama}</div>
              </a>
              <div class="task-checkbox-container">
              </div>
          </div>
          <div class="task-description">
          <hr />
          <p>Umur: ${data.fields.umur}</p>
          <p>Jenis Kelamin: ${data.fields.gender}</p>
          <p>Alamat: ${data.fields.alamat}</p>
          <p>Status Gejala: ${data.fields.gejala}</p>
        </div>
      </div>
          `;
    
      

    const data_data = JSON.parse("{{data_pasien|escapejs}}");
    // document.getElementById("tesanjay").innerHTML = JSON.stringify(data_data);

    for (var data of data_data) {
        var model = JSON.stringify(data.model).replace(/\"/g, "");
        var pk = JSON.stringify(data.pk).replace(/\"/g, "");
        var user = JSON.stringify(data.fields.user).replace(/\"/g, "");
        var nama = JSON.stringify(data.fields.nama).replace(/\"/g, "");
        var umur = JSON.stringify(data.fields.umur).replace(/\"/g, "");
        var gender = JSON.stringify(data.fields.gender).replace(/\"/g, "");
        var gejala = JSON.stringify(data.fields.gejala).replace(/\"/g, "");
        var alamat = JSON.stringify(data.fields.alamat).replace(/\"/g, "");
        var data_card = {model: model, pk: pk, fields:{user: user,nama: nama,umur: umur, gender: gender, gejala: gejala, alamat: alamat}};
        document.getElementById("todo").innerHTML += card(data_card)
    }
    });

    
    var e = document.getElementById("gejala");
    var strUser = e.options[e.selectedIndex].value;
    if (strUser == "Ada") {
      document.getElementById("gejala").style.color = "red";
    } else {
      document.getElementById("gejala").style.color = "green";
    }
  </script>
  <style>
    table,
    th,
    td {
      border-collapse: collapse;
    }

    th,
    td {
      padding: 15px;
    }

    .task-container {
      background: whitesmoke;
      border-radius: 24px;
      padding: 32px;
      gap: 20px;
    }

    .flex-parent {
      display: flex;
    }

    .jc-center {
      justify-content: center;
    }

    button.margin-right {
      margin-right: 20px;
    }
  </style>

  <body class="bg-amber-100">
    {% include 'base.html' %}

    {% if user.is_authenticated %}
    <div class="mx-8 md:mx-14 lg:mx-14 mt-14">
      <div class="text-black mt-2 ml-2 text-5xl" style="text-align: center">
        Hai Nakes <b>{{user.get_username}}!</b>
      </div>
      <br />

      <div class="flex-parent jc-center">
        <div class="flex gap-2 lg:gap-5">
        
          <button
            class="inline-flex space-x-2 items-center justify-center px-6 py-3 rounded-xl"
            style="background-color: red"
          >
            <a href="{% url 'authentication:logout' %}  ">Logout</a>
          </button>
        </div>
      </div>

    
 
      <!--
        <div>
            {% for data in data_pasien %}
            <div id='{{data.pk}}-card'
            class="task-container mt-5">
            <div style="display: flex; flex-direction: column; gap: 8px; flex-grow: 1">
              <div class="task-title">
                  <div class="flex gap-4">
                    <div
                    id={{data.pk}}
                    class="cursor-pointer remove-todo {{data.pk}}"
                    >
                    <button><a class="inline-flex space-x-2 items-center justify-end px-6 py-3 rounded-xl" style="background-color:red;">Hapus</a></button>
                    </div>
                  </div>
                <div class="text-2xl font-bold mt-4" >{{data.nama}}</div>
                  </a>
                  <div class="task-checkbox-container">
                  </div>
              </div>
              <div class="task-description">
              <hr />
              <p>Umur: {{data.umur}}</p>
              <p>Jenis Kelamin: {{data.gender}}</p>
              <p>Alamat: {{data.alamat}}</p>
              <p>Status Gejala: {{data.gejala}}</p>
            </div>
          </div>
            {% endfor %}
        </div>
    
        -->

      <div id="tesanjay"></div>
      <div
        class="mb-16 grid lg:grid-cols-2 md:grid-cols-1 gap-5 mt-8 sm:mt-5"
        id="todo"
      ></div>
    </div>
    {% else %}
    <div></div>
    {% endif %}
    {% include 'footer.html' %}

  </body>

{% endblock content %}