{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="http://fonts.cdnfonts.com/css/satoshi" rel="stylesheet" />

    <script>
      tailwind.config = {
        important: true,
      };
    </script>

    <title>Lurah Page | Pasien</title>

    <style>
      table,
      th,
      td {
        border-collapse: collapse;
      }

      th,
      td {
        padding: 15px;
      }

      .task-container {
        background: whitesmoke;
        border-radius: 24px;
        padding: 32px;
        gap: 20px;
      }

      .flex-parent {
        display: flex;
      }

      .jc-center {
        justify-content: center;
      }

      button.margin-right {
        margin-right: 20px;
      }
    </style>
  </head>

  <body style="background-color: #17a2b8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    {% include 'base.html' %}
    <head>
      <script>
        $(document).ready(function () {
          const card = (data) => `
          <div id='${data.pk}-card'
            class="task-container mt-5">
            <div style="display: flex; flex-direction: column; gap: 8px; flex-grow: 1">
              <div class="task-title">
                  <div class="flex gap-4">
                    <div
                    id=${data.pk}
                    class="cursor-pointer remove-todo ${data.pk}"
                    >
                    <button><a class="inline-flex space-x-2 items-center justify-end px-6 py-3 rounded-xl" style="background-color:red;">Hapus</a></button>
                    </div>
                    <div class="inline-flex space-x-2 items-center justify-end px-6 py-3">
                      ${
                        data.fields.is_covid
                          ? `
                  Status: &nbsp<b class="text-lg text-red-500"> Positif </b>`
                          : `<b class="text-lg text-green-500"> Negatif </b>`
                      }
            </div>
          </div>
                <div class="text-2xl font-bold mt-4" >${data.fields.nama}</div>
                  </a>
                  <div class="task-checkbox-container">
                  </div>
              </div>
              <div class="task-description">
              <hr />
              <dl class="grid grid-cols-2 gap-8 p-4 mx-auto max-w-screen-xl text-gray-900 sm:grid-cols-3 xl:grid-cols-6 dark:text-white sm:p-8">
              <div class="flex flex-col">
                <dd class="font-light text-gray-500 dark:text-gray-400">Umur</dd>
                    <dt class="mb-2 text-2xl font-extrabold">${
                      data.fields.umur
                    }</dt>
              </div>
              <div class="flex flex-col">
                <dd class="font-light text-gray-500 dark:text-gray-400">Jenis Kelamin</dd>
                    <dt class="mb-2 text-2xl font-extrabold">${
                      data.fields.gender
                    }</dt>
              </div>
              <div class="flex flex-col">
                <dd class="font-light text-gray-500 dark:text-gray-400">Gejala</dd>
                    <dt class="mb-2 text-2xl font-extrabold">${
                      data.fields.gejala
                    }</dt>
              </div>
              <div class="flex flex-col">
                <dd class="font-light text-gray-500 dark:text-gray-400">Alamat</dd>
                    <dt class="mb-2 text-2xl font-extrabold">${
                      data.fields.alamat
                    }</dt>
              </div>
            </dl>

              
            </div>
            
          </div>
              `;
          const addCard = (data) => {
            return $("#todo").append(card(data));
          };

          const removeCard = (task) => {
            $(`#${task.pk}`).click(function () {
              $.ajax({
                url: `/lurah-page/delete-pasien/${task.pk}`,
                type: "DELETE",
                success: function (response) {
                  $(`#${task.pk}-card`).remove();
                },
              });
            });
          };

          $.get("/lurah-page/json", function (todo) {
            todo.map((task) => {
              addCard(task);
              removeCard(task);
            });
          });

          $("#add-todo").click(function () {
            if (
              $("#nama").val() &&
              $("#umur").val() &&
              $("#gender").val() &&
              $("#gejala").val() &&
              $("#alamat").val()
            ) {
              $.post(
                "/lurah-page/add/",
                {
                  nama: $("#nama").val(),
                  umur: $("#umur").val(),
                  gender: $("#gender").val(),
                  gejala: $("#gejala").val(),
                  alamat: $("#alamat").val(),
                },
                function (res, status) {
                  if (status == "success") {
                    addCard(res);
                    $("#nama").val("");
                    $("#umur").val("");
                    $("#gender").val("");
                    $("#gejala").val("");
                    $("#alamat").val("");
                    removeCard(res);
                  }
                }
              );
            }
          });
        });

        var e = document.getElementById("gejala");
        var strUser = e.options[e.selectedIndex].value;
        if (strUser == "Ada") {
          document.getElementById("gejala").style.color = "red";
        } else {
          document.getElementById("gejala").style.color = "green";
        }
      </script>
    </head>

    <! -- {% if user.is_authenticated %} -->
    {% if user.is_authenticated %}
    <div class="mx-8 md:mx-14 lg:mx-14 mt-14">
      <div class="text-black mt-2 ml-2 text-5xl" style="text-align: center">
        Daftar Pasien
      </div>
      <br />

      <div class="flex-parent jc-center">
        <div class="flex gap-2 lg:gap-5">
          <button
            class="inline-flex space-x-2 items-center justify-center px-6 py-3 rounded-xl"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            style="background-color: green"
          >
            Tambah Pasien
          </button>
        </div>
      </div>

      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered relative w-auto pointer-events-none"
        >
          <div
            class="modal-content"
            style="background-color: rgba(0, 0, 0, 0.5)"
          >
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-zinc-200" id="exampleModalLabel">
                Tambah Pasien
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="flex justify-center">
                <div class="lg:w-64 mt-3">
                  <form method="POST" action="">
                    {% csrf_token %}
                    <label class="block">
                      <span
                        class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-zinc-200"
                      >
                        Nama
                      </span>
                      <input
                        type="text"
                        name="nama"
                        id="nama"
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-green-500"
                        placeholder="Nama"
                        required
                      />
                    </label>

                    <label class="block mt-2">
                      <span
                        class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-zinc-200"
                      >
                        Umur
                      </span>
                      <input
                        type="number"
                        name="umur"
                        id="umur"
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-green-500"
                        placeholder="Umur"
                        required
                      />
                    </label>

                    <label class="block mt-2">
                      <span
                        class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-zinc-200"
                      >
                        Jenis Kelamin
                      </span>
                      <select
                        name="gender"
                        id="gender"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required
                      >
                        <option selected>-Pilih-</option>
                        <option value="L">Laki-laki</option>
                        <option value="P">Perempuan</option>
                      </select>
                    </label>

                    <label class="block mt-2">
                      <span
                        class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-zinc-200"
                      >
                        Gejala
                      </span>
                      <select
                        name="gejala"
                        id="gejala"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required
                      >
                        <option selected>-Pilih-</option>
                        <option value="Ada">Ada</option>
                        <option value="Tidak Ada">Tidak Ada</option>
                      </select>
                    </label>

                    <label class="block mt-2">
                      <span
                        class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-zinc-200"
                      >
                        Alamat
                      </span>
                      <input
                        type="text"
                        name="alamat"
                        id="alamat"
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-green-500"
                        placeholder="Alamat"
                        required
                      />
                    </label>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="inline-flex space-x-2 items-center justify-center px-6 py-3 rounded-xl"
                data-bs-dismiss="modal"
                style="background-color: red"
              >
                Cancel
              </button>

              <button
                id="add-todo"
                type="button"
                class="inline-flex space-x-2 items-center justify-end px-6 py-3 rounded-xl"
                data-bs-dismiss="modal"
                style="background-color: green"
              >
                Tambah Pasien
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="mb-16 grid lg:grid-cols-2 md:grid-cols-1 gap-5 mt-8 sm:mt-5"
        id="todo"
      ></div>
      <! -- {% else %} -->
      <div></div>
    </div>
    <! -- {% endif %} -->
    {% endif %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    {% include 'footer.html' %}
  </body>
</html>
