{% extends 'base.html' %}  {% block meta %}

{% endblock meta %} {% block content %}

  <head>
    <title>Lurah Page | Pasien</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script>
      tailwind.config = {
        important: true,
      };
    </script>
  </head>
   
  <style>
        table,
    th,
    td {
      border-collapse: collapse;
    }
    h1{
      color: #17a2b8;
    }

    th,
    td {
      padding: 15px;
    }

    .task-container {
      background: whitesmoke;
      border-radius: 24px;
      padding: 32px;
      gap: 20px;
    }

    .flex-parent {
      display: flex;
    }

    .jc-center {
      justify-content: center;
    }

    button.margin-right {
      margin-right: 20px;
    }
    #button{
      border-radius: 40px;
      border-color: black;
      border-width: 1px;
      color: rgba(0, 0, 0, 0.55) !important; 
      background-color: white;
    }
    #button:hover {
      background-color: #17a2b8;
      color: white !important; 
      border-color: #17a2b8;
    }
  </style>

  <body style="background-color: #EFFBF9">
    {% include 'base.html' %}

    {% if user.is_authenticated %}
    <div class="container-fluid px-0 text-center">
      <div class="mt-5" style="text-align: center">
        <h1 style="color: black">DAFTAR PASIEN</h1>
        <h3 style="color:#17a2b8">Covid-19</h3>
      </div>
      <br/>

      <div class="flex-parent jc-center">
        <div class="flex gap-2 lg:gap-5">
          <button
            class="inline-flex justify-center px-3 py-2 btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            id="button"
          >
            Tambah Pasien
          </button>
        </div>
      </div>


      <!-- MODAL -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered relative w-auto pointer-events-none"
        >
          <div
            class="modal-content"
            style="background-color: rgba(0, 0, 0, 0.5)"
          >
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-zinc-200" id="exampleModalLabel">
                Tambah Pasien
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="flex justify-center">
                <div class="lg:w-64 mt-3">
                  <form method="POST" action="" id="add-pasien-form">
                    {% csrf_token %}
                    <label class="block">
                      <span
                        class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-zinc-200"
                      >
                        Nama
                      </span>
                      <input
                        type="text"
                        name="nama"
                        id="nama"
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-green-500"
                        placeholder="Nama"
                        required
                      />
                    </label>

                    <label class="block mt-2">
                      <span
                        class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-zinc-200"
                      >
                        Umur
                      </span>
                      <input
                        type="number"
                        name="umur"
                        id="umur"
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-green-500"
                        placeholder="Umur"
                        required
                      />
                    </label>

                    <label class="block mt-2">
                      <span
                        class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-zinc-200"
                      >
                        Jenis Kelamin
                      </span>
                      <select
                        name="gender"
                        id="gender"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required
                      >
                        <option selected>-Pilih-</option>
                        <option value="L">Laki-laki</option>
                        <option value="P">Perempuan</option>
                      </select>
                    </label>

                    <label class="block mt-2">
                      <span
                        class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-zinc-200"
                      >
                        Gejala
                      </span>
                      <select
                        name="gejala"
                        id="gejala"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required
                      >
                        <option selected>-Pilih-</option>
                        <option value="Ada">Ada</option>
                        <option value="Tidak Ada">Tidak Ada</option>
                      </select>
                    </label>

                    <label class="block mt-2">
                      <span
                        class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-zinc-200"
                      >
                        Alamat
                      </span>
                      <input
                        type="text"
                        name="alamat"
                        id="alamat"
                        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-green-500"
                        placeholder="Alamat"
                        required
                      />
                    </label>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="inline-flex space-x-2 items-center justify-center px-6 py-3 rounded-xl"
                data-bs-dismiss="modal"
                style="background-color: red"
              >
                Cancel
              </button>

              <button
                id="add-todo"
                type="button"
                class="inline-flex space-x-2 items-center justify-end px-6 py-3 rounded-xl"
                data-bs-dismiss="modal"
                style="background-color: green"
              >
                Tambah Pasien
              </button>
            </div>
          </div>
        </div>
      </div>
      
      

      <div class="container"></div>
      <div class="mb-16 grid lg:grid-cols-2 md:grid-cols-1 gap-5 mt-8 sm:mt-5" id="todo"></div>
    </div>
    {% else %}
    <div></div>
    {% endif %}
  
    {% include 'footer.html' %}
  </body>
  <script>
    $(document).ready(function(e){
    const getTaskURL = `/lurah-page/json`;
    $.ajax({
      type: 'GET',
      url: getTaskURL,
      success: function (response) {
        if (!response.length){
          $('#todo').prepend(`
          <div class="d-flex justify-content-center" id="no-task-div">
            <h1>No Task</h1>
          </div>`)
        }
        else{
          for (let i = 0; i < response.length; i++){
            addTaskAsync($('#todo'), response[i]["fields"], response[i]["pk"]);
          }
        }
      },
      error: function (response) {
          console.log(response)
      }
    })
});

$("#add-todo").click(function(e){
    e.preventDefault();
    const serializedData = getFormData($('#add-pasien-form'));
    const addTaskURL = `/lurah-page/pasien/add/`;
    $.ajax({
      type: 'POST',
      url: addTaskURL,
      data: serializedData,
      success: function (response) {
          // on successfull creating object
          $("#add-pasien-form").trigger('reset');
       
          // display the newly friend to table.
          var instance = JSON.parse(response);
          var fields = instance[0]["fields"];
          var task_id = instance[0]["pk"];
          if ($('#no-task-div').length){
            $('#no-task-div').remove();
          }
          addTaskAsync($('#todo'), fields, task_id);
      },
      error: function (response) {
          // alert the error if any error occured
          alert(response["responseJSON"]["error"]);
      }
    })
});

$('#todo').ready ( function () {
    $('#todo').on('click', '.delete-task-ajax', function(e) {
      e.preventDefault()
      const deleteTaskURL = "delete-pasien/" + this.id;
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      $.ajax({
        type: 'DELETE',
        url: deleteTaskURL,
        beforeSend: function (xhr) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      })
      $(`#task-card-${this.id}`).remove();
    });
  });

function addTaskAsync($element, fields, task_id) { 
    const is_covid = fields["is_covid"];
    const nama = fields["nama"];
    const umur = fields["umur"];
    const gender = fields["gender"];
    const gejala = fields["gejala"];
    const alamat = fields["alamat"];
    var html = 
    `<div class="container" id="task-card-${task_id}">` +
      `<div class="card" id="card" style="margin-bottom: 20px;">` +

        `<div class="card-header align-middle mb-auto mt-auto">` +
        `</div>` +
        `<div class="card-body d-flex p-4 pr-2 pl-4">` +
            `<div class="mr-auto justify-content-between" id="desc">`+
              `<h1>${nama}<h1><span style="font-size:14px">${gejala}</span>` +
              `<h1>${umur}<h1><span style="font-size:14px">${gender}</span>` +
              `<h1>${is_covid}<h1><span style="font-size:14px">${alamat}</span>` +
            `</div>` +
            `<div class="mt-auto align-items-end">` +
              `<button><a href="d" class="delete-task-ajax" id="${task_id}">Delete</a></button>`+
            `</div>` +
        '</div>' +
      '</div>' +
    '</div>'
  
    $($element).append(html);
  }

  function getFormData($form){
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};
  
    $.map(unindexed_array, function(n, i){
        indexed_array[n['name']] = n['value'];
    });
  
    return indexed_array;
  }



  </script>
  {% endblock content %}
