
  body {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff; }

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        font-family: 'Roboto', sans-serif;
    }
    
    h3 {
        color: #17a2b8;
    }

    .navbar {
        padding-top: 25px;
        background-color: white;
    }
    .user-profile {
      font-size: 1.05rem;
      font-weight: 600;
    }

    .btn, .btn-primary{
        border-radius: 40px;
        --bs-btn-bg: white;
        --bs-btn-border-color: black;
        --bs-btn-color: rgba(0, 0, 0, 0.55);
        --bs-btn-hover-color: white;
        --bs-btn-hover-bg: #17a2b8;
    }
    .bg-light {
        background-color: white;
    }

    .navbar-nav {
        font-weight: 400;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.55);
    }
    .navbar .navbar-collapse {
        text-align: center;
      }
    .nav-link:hover, .navbar-nav .nav-link.active{
        color: #17a2b8;
    }

    #title-brand {
        font-weight: 900;
        font-size: 26px;
    }
    #dropdown-logout {
      align-self: center;
      --bs-dropdown-link-color: #b83128;
      --bs-dropdown-link-hover-color:  #b83128;
    }

