<style>
footer{
    background-color:  #EFFBF9;
}

a{
    color: black;
}
a:hover, h6 {
    color: #17a2b8;
}
</style>
<footer class="text-center text-lg-start pt-4">

    <!-- Section: Links  -->
    <section class="">
    <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 ms-5 mb-4">
            <!-- Content -->
        
                <a class="navbar-brand me-2 mb-1 d-flex align-self-baseline" href="#" id="title-brand">
                    <div style="margin-top: 10px; margin-bottom:0px;">SE</div><img src="https://cdn.discordapp.com/attachments/814499566245249047/1035481656624160798/output-onlinepngtools.png" height="50" width="50" alt="test" loading="lazy"
                      style="margin-top: 2px" /><div style="margin-top: 10px; margin-bottom:0px;">AT TERUS</div>
                </a>
           
            <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
            </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-2 col-xl-2 ms-5 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
            Products
            </h6>
            <p>
            <a href="{% url 'faq_page:show_faqpage' %}" class=" footer-text">FAQ</a>
            </p>
            <p>
            <a href="{% url 'lurah_page:show_lurah_homepage' %}" class=" footer-text">Lurah Page</a>
            </p>
            <p>
            <a href="#!" class="footer-text">Nakes Page</a>
            </p>
    
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-8 col-lg-3 col-xl-3 ms-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home"></i> Fakultas Ilmu Komputer, UI, Kecamatan Beji, Kota Depok, Jawa Barat 16425</p>
            <p>
            <i class="fas fa-envelope"></i>
            cs.ui.ac.id
            </p>
            <p><i class="fas fa-phone"></i>  (021) 7863419</p>
        </div>
        <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>